server:
  port: 8081

spring:
  application:
    name: clientes-service
  datasource:
    url: jdbc:mysql://localhost:3306/pruebadev
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

logging:
  level:
    com.prueba.dev.clients: DEBUG
    org.springframework.web: DEBUG